<html lang="pt-BR" style="overflow-y: hidden;">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
		<link rel="stylesheet" href="../../node_modules/intl-tel-input/build/css/intlTelInput.css">
		<link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
		<link rel="stylesheet" href="../../resources/css/bulma-switch.min_working.css">
		<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
		<title>Autom</title>
	</head>
	<body >
		<nav class="navbar has-shadow is-primary" role="navigation" >
			<div class="navbar-brand">
				<a href="" class="navbar-item" style="cursor: none;pointer-events: none;user-select: none;">
					<figure class="is-rounded">
						<img src="../../resources/images/logo.png" alt="">
					</figure>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item has-dropdown is-hoverable">
						<div class="navbar-link">
							Menu
						</div>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="PessoaList.html" >
								<i class="fa-solid fa-users"></i>
								<p class="ml-2">
									Pessoas
								</p>
							</a>
							<a class="navbar-item" href="PessoaForm.html"> 
								<i class="fa-solid fa-user" ></i>
								<p class="ml-2" >
									Cadastro de pessoas
								</p>
							</a>
							<a class="navbar-item" href="PecasList.html" >
								<i class="fa-solid fa-gears"></i>
								<p class="ml-2">
									Peças
								</p>
							</a>
							<a class="navbar-item" href="PecasForm.html" >
								<i class="fa-solid fa-gear"></i>
								<p class="ml-2">
									Cadastro de peças
								</p>
							</a>
						</div>
					</div>
				</div>
				<div class="navbar-end">
					<div class="navbar-item is-centered">
						<span style="pointer-events: all ;cursor: pointer;" id="logout" class="icon pr-5" title="Logout">
							<i class="fa-solid fa-power-off is-large"></i>
						</span>
					</div>
				</div>
			</div>
		</nav>
		  <div class="tile is-ancestor has-text-centered">
			<div style="margin-left: 41rem;" class="tile is-4  pt-6" >
				<div class="tile is-vertical box ">
					<div class="tile is-parent">
						<article class="tile is-child">
							<h1 class="title">
								
							</h1>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child">
							<a href="" class="button is-large is-info is-light" style="width: 12em;">
								<img style="width: 1em;height: 1em;" class="" src="../../resources/images/file-chart-outline.png" alt="">
								<p class="ml-2">
									Relatório de peças
								</p>
							</a>
						</article>
						<article class="tile is-child">
							<a href="" class="button is-large is-info is-light" style="width: 12em;">
								<img style="width: 1em;height: 1em;" class="" src="../../resources/images/file-chart-outline.png" alt="">
								<p class="ml-2">
									Relatório de pedidos
								</p>
							</a>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child">
							<a href="" class="button is-large is-info is-light" style="width: 12em;">
								<img style="width: 1em;height: 1em;"  src="../../resources/images/chart-pie.png" alt="" srcset="">
								<p class="ml-2">
									Pedidos por cliente
								</p>
							</a>
						</article>
						<article class="tile is-child">
							<a href="" class="button is-large is-info is-light" style="width: 12em;">
								<img style="width: 1em;height: 1em;"  src="../../resources/images/chart-pie.png" alt="" srcset="">
								<p class="ml-2">
									Pedidos por peça
								</p>
							</a>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child">
							<a href="PedidosForm.html" class="button is-large is-success is-light" style="width: 24.5em;">
								<i class="fa-solid fa-basket-shopping"></i>
								<p class="ml-2">
									Pedidos
								</p>
							</a>
						</article>
					</div>
			  </div>
			</div>
		  </div>
	</body>
</html>