<html lang="pt-BR" style="overflow-y: hidden;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../../node_modules/intl-tel-input/build/css/intlTelInput.css">
	<link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
	<link rel="stylesheet" href="../../resources/css/bulma-switch.min_working.css">
	<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
	<title>Autom</title>
</head>
<body>
	<nav class="navbar has-shadow is-primary" role="navigation" >
		<div class="navbar-brand">
			<a href="" class="navbar-item" style="cursor: none;pointer-events: none;user-select: none;">
				<figure class="is-rounded">
					<img src="../../resources/images/logo.png" alt="">
				</figure>
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<div class="navbar-link">
						Menu
					</div>
					<div class="navbar-dropdown">
						<a class="navbar-item" href="PessoaList.html" >
							<i class="fa-solid fa-users"></i>
							<p class="ml-2">
								Pessoas
							</p>
						</a>
						<a class="navbar-item" href="PessoaForm.html"> 
							<i class="fa-solid fa-user" ></i>
							<p class="ml-2" >
								Cadastro de pessoas
							</p>
						</a>
						<a class="navbar-item" href="PecasList.html" >
							<i class="fa-solid fa-gears"></i>
							<p class="ml-2">
								Peças
							</p>
						</a>
						<a class="navbar-item" href="PecasForm.html" >
							<i class="fa-solid fa-gear"></i>
							<p class="ml-2">
								Cadastro de peças
							</p>
						</a>
					</div>
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item is-centered">
					<span style="pointer-events: all ;cursor: pointer;" id="logout" class="icon pr-5" title="Logout">
						<i class="fa-solid fa-power-off is-large"></i>
					</span>
				</div>
			</div>
		</div>
	</nav>

	<table class="table is-fullwidth is-hoverable">
		<thead>
			<tr>
				<th></th>
				<th>Cód.</th>
				<th>Nome</th>
				<th>Marca</th>
				<th>Preço de custo</th>
				<th>Preço de venda</th>
			</tr>
		</thead>
		<tbody id="lista_pessoas_body">
			
		</tbody>
	</table>
	<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		window.jQuery = require("../../node_modules/jquery/dist/jquery.min.js");
		window.$ = window.jQuery;
	</script>
	<script src="../../node_modules/intl-tel-input/build/js/intlTelInput-jquery.js"></script>
	<script src="../../node_modules/intl-tel-input/build/js/intlTelInput.js"></script>
	<script src="../../node_modules/intl-tel-input/build/js/utils.js"></script>
	<script src="../../resources/JS/view.js"></script>
	<script src="../../node_modules/bulma-toast/dist/bulma-toast.min.js"></script>
	<script>
		const electron = require('electron');
		const { ipcRenderer } = electron;

		$( document ).ready
		(
			()=>
			{
				ipcRenderer.send( 'load:lista:pecas' );
				ipcRenderer.on( 'load:lista:pecas:success', ( err,item )=>
				{
					let tbody = $( '#lista_pessoas_body' );

					item.forEach( element => 
					{
						var icon        = document.createElement( 'i' );
						$( icon ).addClass( 'fas fa-edit' );
						$( icon ).attr( 'style', 'color: #00d1b2;pointer-events: all;cursor: pointer;'  );
						$( icon ).attr( 'id', `${element.id}` );
						$( icon ).attr( 'onclick', `onEdit( ${element.id} , ${ element.marca.id } )` );

						var icon_delete = document.createElement( 'i' );
						$( icon_delete ).addClass( 'fa fa-trash' );
						$( icon_delete ).attr( 'style', 'color: #FF3860;pointer-events: all;cursor: pointer;'  );
						$( icon_delete ).attr( 'id', `${element.id}_delete` );
						$( icon_delete ).attr( 'onclick', `onDelete(${ element.id })` );						
						
						var p_nome      = document.createElement( 'p');
						$( p_nome ).addClass( 'ml-2' );
						$( p_nome ).append( element.nome );
						
						var td_edit    = document.createElement( 'TD' );
						$( td_edit ).attr( 'style', 'border:none;' )
						td_edit.appendChild( icon );

						var td_delete  = document.createElement( 'TD' );
						$( td_delete ).attr( 'style', 'border:none;' )
						td_delete.appendChild( icon_delete );

						var th_button  = document.createElement( 'TH' );
						th_button.appendChild( td_edit );
						th_button.appendChild( td_delete );
						
						var th_codigo = document.createElement( 'TH' );
						th_codigo.innerText   = element.id;
						
						var th_nome    = document.createElement( 'TH' );
						$( th_nome ).append( p_nome );
						
						var td_marca   = document.createElement( 'TD' );
						td_marca.innerText    = element.marca.nome;
						
						var td_valor_compra   = document.createElement( 'TD' );
						td_valor_compra.innerText = Intl.NumberFormat( 'pt-BR', { style: 'currency', currency: 'BRL' }).format( element.valor_compra );

						var td_valor_venda   = document.createElement( 'TD' );
						td_valor_venda.innerText = new Intl.NumberFormat( 'pt-BR', { style: 'currency', currency: 'BRL' }).format( element.valor_revenda );
						
						var row = document.createElement( 'TR' );
						row.appendChild( th_button ); 
						row.appendChild( th_codigo );
						row.appendChild( th_nome );
						row.appendChild( td_marca );
						row.appendChild( td_valor_compra );
						row.appendChild( td_valor_venda );

						tbody.append( row );
					});
				} );

				ipcRenderer.on( 'lista:pecas:delete:response', ( err, res )=>
				{
					console.log( res );
					if( res )
					{
						bulmaToast.toast({ message: 'Registro deletado com sucesso com sucesso', type: 'is-success', duration: 5000, closeOnClick: true, offsetTop: 15 });
						setTimeout( ()=>{ location.reload() } , 250 );
					}
					else
					{
						bulmaToast.toast({ message: 'Ocorreu um erro, favor entrar em contato com o suporte.', type: 'is-danger', duration: 3500, closeOnClick: true, offsetTop: 15 });
						main_form.reset();
					}
				} );
			}
		)

		function onEdit( id, marca_id )
		{
			console.log( id );
			console.log( marca_id );
			location.assign( `PecasForm.html?peca_id=${ id }&marca_id=${ marca_id }` );
		}

		function onDelete( id )
		{
			ipcRenderer.send( 'lista:peca:delete', id );
		}
	</script>
	<script src="../../resources/JS/autum.js"></script>
</body>
</html>