<html lang="pt-BR" style="overflow-y: hidden;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../../node_modules/intl-tel-input/build/css/intlTelInput.css">
	<link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
	<link rel="stylesheet" href="../../resources/css/bulma-switch.min_working.css">
	<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
	<title>Autom</title>
</head>
<body >
	<nav class="navbar has-shadow is-primary" role="navigation" >
		<div class="navbar-brand">
			<a href="" class="navbar-item" style="cursor: none;pointer-events: none;user-select: none;">
				<figure class="is-rounded">
					<img src="../../resources/images/logo.png" alt="">
				</figure>
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<div class="navbar-link">
						Menu
					</div>
					<div class="navbar-dropdown">
						<a class="navbar-item" href="PessoaList.html" >
							<i class="fa-solid fa-users"></i>
							<p class="ml-2">
								Pessoas
							</p>
						</a>
						<a class="navbar-item" href="PessoaForm.html"> 
							<i class="fa-solid fa-user" ></i>
							<p class="ml-2" >
								Cadastro de pessoas
							</p>
						</a>
						<a class="navbar-item" href="PecasList.html" >
							<i class="fa-solid fa-gears"></i>
							<p class="ml-2">
								Peças
							</p>
						</a>
						<a class="navbar-item" href="PecasForm.html" >
							<i class="fa-solid fa-gear"></i>
							<p class="ml-2">
								Cadastro de peças
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="column is-half is-offset-one-quarter">
			<h2 class="title" >Cadastro de pessoas</h2>
			<form id="pessoa_form">
				<div id="pessoa_id_field" class="field">
					<div class="control">
						<input type="text" name="pessoa_id" id="pessoa_id" class="input" style="width: 10%;cursor: default;pointer-events: none;" disabled>
					</div>
				</div>
				<div class="field" >
					<div class="control" >
						<input name="pessoa_nome" container="body" type="text" id="pessoa_nome" placeholder="Nome" class="input"/>
						<p id="pessoa_nome_help" class="help">Este campo não pode ser vazio</p>
					</div
				</div>
				<div class="field mt-2">
					<div class="control">
						<input name="pessoa_email" type="text" id="pessoa_email" placeholder="Email" class="input">
						<p id="pessoa_email_help" class="help">Este campo não pode ser vazio e deve ser um email válido</p>
					</div>
				</div>
				<div class="field has-addons">
					<div class="control has-icons-right is-expanded">
						<input name="pessoa_senha" type="password" id="pessoa_senha" placeholder="Senha" class="input">
						<span class="icon is-right">
							<i style="pointer-events: all;cursor: pointer;" class="bi bi-eye-slash"  id="togglePassword"></i>
						</span>
						<p id="pessoa_senha_help" class="help">Este campo não deve ser vazio. Deve conter no mínimo: um caractere maiúsculo, um caractere especial, um caractere minúsculo e ter um tamanho mínimo de 8 caracteres</p>
					</div>
				</div>
				<div class="field" >
					<div class="control is-expanded">
						<input name="pessoa_cpf" type="text" id="pessoa_cpf" class="input" placeholder="CPF" >
					</div>
				</div>
				<div class="field" >
					<div class="control is-expanded">
						<input name="pessoa_rg" type="text" id="pessoa_rg"  maxlength="11" class="input" placeholder="RG" >
					</div>
				</div>
				<div class="field" >
					<div class="control is-expanded">
						<input name="pessoa_cnpj" type="text" id="pessoa_cnpj" class="input" placeholder="CNPJ" >
					</div>
				</div>
				<div class="field is-expanded">
					<div class="control is-expanded">
						<input name="pessoa_telefone" type="text" id="pessoa_telefone" maxlength="15" class="input" >
						<p id="pessoa_telefone_help" class="help">Este campo não pode ser vazio e deve ser um número de telefone válido</p>
					</div>
				</div>
				<div class="field">
					<div class="select">
						<select name="" id="admin_options">
							<option value="0">
								Tipo de perfil
							</option>
						</select>
					</div>
				</div>
				<div class="field">
					<input id="tipo_pessoa" type="checkbox" name="tipo_pessoa" value="false" class="switch">
					<label for="tipo_pessoa">Pessoa Jurídica</label>
				</div>
				<div class="field" >
					<button id="submit" type="button" class="button is-success is-responsive mt-2" >Salvar</button>
				</div>
			</form>
		</div>
	</div>
	<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		window.jQuery = require("../../node_modules/jquery/dist/jquery.min.js");
		window.$ = window.jQuery;
	</script>
	<script src="../../node_modules/intl-tel-input/build/js/intlTelInput-jquery.js"></script>
	<script src="../../node_modules/intl-tel-input/build/js/intlTelInput.js"></script>
	<script src="../../node_modules/intl-tel-input/build/js/utils.js"></script>
	<script src="../../resources/JS/view.js"></script>
	<script src="../../node_modules/bulma-toast/dist/bulma-toast.min.js"></script>
	<script src="../../resources/JS/PessoaForm.js"></script>
</body>
</html>