<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="../../../node_modules/popper/index.js" ></script> -->
	
	<title>Document</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-light">
		<div class="container-fluid">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link active" href="#">Cadastro de Contatos</a>
				  </li>
				<li class="nav-item">
				  <a class="nav-link" href="../libs/lib.html">Lista de contatos</a>
				</li>
			  </ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="offset-md-4 col-md-4">
				<h2>
					Contatos
				</h2>
				<hr>
				<form id="contato_form">
					<div class="form-group">
						<label for="contact_name" class="form-label">
							Nome:
						</label>
						<input name="contact_name" type="text" id="name" class="form-control">
					</div>

					<div class="form-group">
						<label for="contact_phone" class="form-label">
							Telefone
						</label>
						<input name="contact_phone" type="text" id="phone" class="form-control">
					</div>

					<div class="form-group" ><button type="submit" class="form-control btn-success green mt-2" >Salvar</button></div>
				</form>
			</div>
		</div>
	</div>
	
	<script>

	const electron = require('electron');
	const { ipcRenderer } = electron;
	const Contato  = require( '../../objects/Contato.js' );
	const form = document.getElementById( 'contato_form' );

	form.addEventListener('submit', submitForm );

	function submitForm( e )
	{
		e.preventDefault();
		const name  = document.getElementById( 'name' ).value;
		const phone = document.getElementById( 'phone' ).value;
		const contato = new Contato( name, phone );
		ipcRenderer.send( 'contato:save', contato );
		form.reset();
	}
</script>
</body>
</html>