<nav class="navbar has-shadow is-primary" role="navigation" >
	<div class="navbar-brand">
		<a href="" class="navbar-item" style="cursor: none;pointer-events: none;user-select: none;">
			<figure class="is-rounded">
				<img src="../../resources/images/logo.png" alt="">
			</figure>
		</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-start">
			<div class="navbar-item has-dropdown is-hoverable">
				<div class="navbar-link">
					Menu
				</div>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="PessoaList.html" >
						<i class="fa-solid fa-users"></i>
						<p class="ml-2">
							Pessoas
						</p>
					</a>
					<a class="navbar-item" href="PessoaForm.html"> 
						<i class="fa-solid fa-user" ></i>
						<p class="ml-2" >
							Cadastro de pessoas
						</p>
					</a>
					<a class="navbar-item" href="PecasList.html" >
						<i class="fa-solid fa-gears"></i>
						<p class="ml-2">
							Peças
						</p>
					</a>
					<a class="navbar-item" href="PecasForm.html" >
						<i class="fa-solid fa-gear"></i>
						<p class="ml-2">
							Cadastro de peças
						</p>
					</a>
				</div>
			</div>
		</div>
		<div class="navbar-end">
			<div class="navbar-item is-centered">
				<span style="pointer-events: all ;cursor: pointer;" id="logout" class="icon pr-5" title="Logout">
					<i class="fa-solid fa-power-off is-large"></i>
				</span>
			</div>
		</div>
	</div>
</nav>